.App {
  text-align: center;
}

html, body {
  background: black;
  justify-content: center;
  align-items: center;
  height: 100%
}

.intro {
  position: sticky;
  top: 0px;
  z-index: 0;
  height: 100px;
  margin-left: 40px;
  padding-top: 3vw;
}

.title {
  width: 70%;
}

.projects {
  position: sticky;
  margin-top: 42vw;
  z-index: 1;
  box-shadow: 1vw -4vw 6vw black;
  text-align: center;
  background-color: black;
}

#project {
  display: inline-block;
  width: 35%;
  margin: 3vw;
}

#aProject {
  width: 100%;
  height: auto;
}

.photo {
  width: 100%;
  height: 30vw;
  border-radius: 20px;
}

.photo:hover {
  transform: scale(1.02);
  border-radius: 0px;
}

@media only screen and (max-width: 800px) {
  #project {
    min-width: 80%;
    height: auto;
    margin: 3vw;
    margin-bottom: 12vw;
  }

  .photo {
    width: 100%;
    height: 70vw;
    border-radius: 20px;
  }
}

.pip {
  width: 1.8vw;
  height: 1.8vw;
  margin: 0.7vw;
  background-color: #525252;
  border-radius: 100%;
  transition: all .3s ease-in;
}

.pip--on {
  background-color: #48d8b8;
  transform: scale(1.1);
}

.clock {
  display: inline-flex;
}

.binary-digit-group {
  display: flex;
  margin: 0 0.7vw;
}

@media only screen and (max-device-width: 480px) {
  .title {
    width: 90%;
    text-align: center;
  }

  h1 {
    font-size: 4vw;
  }
  
  h3 {
    font-size: 3vw;
  }
  
  h4 {
    font-size: 2.5vw;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    width: 90%;
    text-align: center;
  }

  h1 {
    font-size: 4vw;
  }
  
  h3 {
    font-size: 3vw;
  }
  
  h4 {
    font-size: 2.5vw;
  }
}